<header class="grid-container__header">

  <nav class="navigation">
    <a class="navigation__link navigation__link--title" href="/#"><svg><use xlink:href="/assets/svg/logo.svg"></use></svg>{{ site.name }}</a>
    <ul class="navigation__link-list">
      <li>
        <!-- <a class="navigation__link" href="/#features">Features</a> -->
      </li>
       <li>
        <a class="navigation__link" href="/#access">access</a>
      </li>
      <li>
        <a class="navigation__link" href="/#blog">Blog</a>
      </li>
      <li>
        <a class="navigation__link" href="/#team">Team</a>
      </li>
      <li>
        <a class="navigation__link" href="#contact">Contact</a>
      </li>
      <li>
        <a class="navigation__link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

</header>
