<ul class="flex-container flex-container--space-around">
  {% if include.profiles.twitter %}
    <li>
      <a href="https://twitter.com/intent/user?screen_name={{ include.profiles.twitter }}" target="_blank">
        <svg><use xlink:href="/assets/svg/icons.svg#twitter"></use></svg>
      </a>
    </li>
  {% endif %}
  {% if include.profiles.github %}
    <li>
      <a href="https://github.com/{{ include.profiles.github }}" target="_blank">
        <svg><use xlink:href="/assets/svg/icons.svg#github"></use></svg>
      </a>
    </li>
  {% endif %}
  {% if include.profiles.linkedin %}
    <li>
      <a href="https://www.linkedin.com/{{ include.profiles.linkedin }}" target="_blank">
        <svg><use xlink:href="/assets/svg/icons.svg#linkedin"></use></svg>
      </a>
    </li>
  {% endif %}
  {% if include.profiles.facebook %}
    <li>
      <a href="https://www.facebook.com/{{ include.profiles.facebook }}" target="_blank">
        <svg><use xlink:href="/assets/svg/icons.svg#facebook"></use></svg>
      </a>
    </li>
  {% endif %}
  {% if include.profiles.instagram %}
    <li>
      <a href="https://www.instagram.com/{{ include.profiles.instagram }}" target="_blank">
        <svg><use xlink:href="/assets/svg/icons.svg#instagram"></use></svg>
      </a>
    </li>
  {% endif %}
  {% if include.profiles.youtube %}
    <li>
      <a href="https://youtube.com/{{ include.profiles.youtube }}" target="_blank">
        <svg><use xlink:href="/assets/svg/icons.svg#youtube"></use></svg>
      </a>
    </li>
  {% endif %}
  {% if include.profiles.url %}
    <li>
      <a href="{{ include.profiles.url }}" target="_blank">
        <svg><use xlink:href="/assets/svg/icons.svg#link"></use></svg>
      </a>
    </li>
  {% endif %}
</ul>
