---
layout: default
---
{% assign time_to_read = page.content | number_of_words | divided_by: 180.0 | round %}
<article class="post">

  <header class="post__header">
    <h1 class="post__title">{{ page.title | escape | smartify }}</h1>
    <span class="post__meta">
      {{ site.data.authors[page.author].name | default: site.name }}
      ·
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      ·
      <time datetime="{{ "PT" | append: time_to_read | append: "M" }}"> {{ time_to_read }} min </time>
      {% if page.tags.first %} · Tags: {{ page.tags | array_to_sentence_string }}{% endif %}
    </span>
      {% if page.image %}
      <img class="post__image" src="{{ page.image }}" alt="">
      {% endif %}
  </header>

  <main class="post__main">
    {{ content }}
  </main>

  <footer class="post__footer">
    <h2 class="h--centered">Share</h2>
    <ul class="flex-container flex-container--space-around">
      <li>
        <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}{% if site.social.twitter %}&via={{ site.social.twitter }}{% endif %}&text={{ page.excerpt | strip_html | truncate: 140 |  uri_escape }}{% if page.hashtags %}&hashtags={{ page.hashtags }}{% endif %}" target="_blank"><svg ><use xlink:href="/assets/svg/icons.svg#twitter"></use></svg></a>
      </li>
      <li>
        <a href="http://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}" target="_blank"><svg ><use xlink:href="/assets/svg/icons.svg#facebook"></use></svg></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | uri_escape }}&summary={{ page.excerpt | strip_html | truncate: 256 | uri_escape }}&source={{ site.title }}" target="_blank"><svg ><use xlink:href="/assets/svg/icons.svg#linkedin"></use></svg></a>
      </li>
    </ul>
    <address>
      <a href="/{{ page.author | prepend: "#" | default: site.url}}">
        <figure class="post__profile">
          <img src="{{ site.data.authors[page.author].image | default: site.logo}}" alt="">
           <figcaption>
             <p class="post__profile-name">{{ site.data.authors[page.author].name | default: site.name }}</p>
             <p>{{ site.data.authors[page.author].description | default: site.description | truncate: 143 }}</p>
           </figcaption>
        </figure>
      </a>
    </address>
    <nav class="flex-container {% unless page.previous.url %} flex-container--end-align {% endunless %} flex-container--margin-top">
      {% if page.previous.url %}
        <a class="button" href="{{ page.previous.url }}">Read previous</a>
      {% endif %}
      {% if page.next.url %}
        <a class="button" href="{{ page.next.url }}">Read next</a>
      {% endif %}
    </nav>
  </footer>
</article>
